body{
    background-color: #000;
}
h1 {
    color: blueviolet;
}

h3 {
    color: red;
}

#pssw {
    color: greenyellow;
}

.password {
    border: 2px solid blue;
    padding: 10px;
    border-radius: 20px;
}